<html>
    <head>
        <link rel="stylesheet" href="../static/css/feature/jquery-ui-1.10.3.custom.min.css">
        <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
        <script src="../static/js/jquery-1.9.1.js"></script>
        <script src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                font-family: 'Asap', sans-serif;
                background: #CCCCCC;
            }

            #wrapper  {
                margin: 1em auto;
                padding: 1em;
                border: 4px solid #990000;
                background: #FFFFFF;
                width: 1000px;
            }

            h1 {
                padding: 0;
                margin: 0;
            }

            h2 {
                padding: 0;
                margin: 0 0 1em;
            }

            #job_meta {
                display: none;
            }
            .pocket-definition {
                width: 50%;
                float: left;
            }

            .job_advanced {
                clear: both;
            }

            .ui-tabs .ui-tabs-anchor {
                outline: none;
            }

            .ui-tabs .ui-tabs-nav li a {
                padding: .2em .25em;
            }

            .pocket-definition .ui-tabs-panel {
                min-height: 4.5em;
            }

            .pocket-definition label {
                display: block;
            }

            .pocket-definition label .title {
                width: 5em;
                display: inline-block;
            }

            .hidden-input input {
                display: none;
            }

            .pocket-definition .fieldset-aside {
                padding: 1em 1.4em;
                float: right;
                border-left: 1px solid #aaaaaa;
                font-size: .9em;
            }

            .pocket-definition .fieldset-aside label .title {
                display: block;
                white-space: nowrap;
            }

            .pocket-definition {
                clear: right;
            }

            .pocket-definition label.textarea .title {
                vertical-align: top;
            }

            .pocket-definition label.optional, .pocket-definition label.optional input {
                color: #999999;
            }

            .pocket-definition label input[type=text] {
                padding: 0.05em;
            }

            legend {
                font-size: 1.15em;
            }

        </style>
    </head>
    <body>
        <div id="wrapper">
            <h1>PocketFEATURE</h1>
            <h2>Compare and score binding sites</h2>
            <form method="post" action="/submit">
                <div id="job_meta">
                    <input type="text" name="job_id" id="job_id" value="">
                    <input type="text" name="job_key" id="job_key" value="">
                </div>
                <div id="job_data">
                    <div id="pocket-A" class="pocket-definition">
                        <h2>Pocket A</h2>
                        <fieldset class="structure">
                            <legend>Source Structure</legend>
                            <ul class="radio tabs">
                                <li><a href="#pocket-A-pdb-id-tab" title="Specify a PDB ID">
                                    <label for="pocket-A-pdb-method-id" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-A-pdb-method-id" 
                                           name="pocketA.structure_method" 
                                           value="pdbid"
                                           checked="checked">PDB</label>
                                </a></li>
                                <li><a href="#pocket-A-pdb-upload-tab" title="Upload a PDB">
                                    <label for="pocket-A-pdb-method-upload" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-A-pdb-method-upload" 
                                           name="pocketA.structure_method" 
                                           value="upload">Upload</label>
                                </a></li>
                                <li><a href="#pocket-A-pdb-url-tab" title="Use a PDB at a URL">
                                    <label for="pocket-A-pdb-method-url" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-A-pdb-method-url" 
                                           name="pocketA.structure_method" 
                                           value="url">URL</label>
                                </a></li>
                            </ul>
                            <div id="pocket-A-pdb-id-tab">
                                <label for="pocket-A-pdb" class="text">
                                    <span class="title">PDB ID</span>
                                    <input type="text"
                                           id="pocket-A-pdb"
                                           name="pocketA.structure.pdbid"
                                           size="5"
                                           maxlength="4"
                                           placeholder="PDBID">
                                </label>
                            </div>
                            <div id="pocket-A-pdb-upload-tab">
                                <label for="pocket-A-pdb-file" class="file">
                                    <span class="title">PDB</span>
                                    <input type="file"
                                           id="pocket-A-pdb-file"
                                           name="pocketA.structure.file">

                                </label>
                            </div>
                            <div id="pocket-A-pdb-url-tab">
                                <label for="pocket-A-pdb-url" class="text">
                                    <span class="title">URL</span>
                                    <input type="url"
                                           id="pocket-A-pdb-url"
                                           name="pocketA.structure.url"
                                           size="45">
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="pocket">
                            <legend>Pocket Specification</legend>
                            <ul class="radio tabs">
                                <li><a href="#pocket-A-pocket-ligand-tab" title="Specify a Ligand">
                                    <label for="pocket-A-pocket-method-ligand" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-A-pocket-method-ligand" 
                                           name="pocketA.pocket_method" 
                                           value="ligand"
                                           checked="checked">Ligand</label>
                                </a></li>
                                <li><a href="#pocket-A-pocket-residues-tab" title="Specify a List of Residues">
                                    <label for="pocket-A-pocket-method-residues" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-A-pocket-method-residues" 
                                           name="pocketA.pocket_method" 
                                           value="residues">Residues</label>
                                </a></li>
                                <li><a href="#pocket-A-pocket-points-tab" title="Upload a pointfile">
                                    <label for="pocket-A-pocket-method-pointfile" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-A-pocket-method-pointfile" 
                                           name="pocketA.pocket_method" 
                                           value="url">Point File</label>
                                </a></li>
                            </ul>
                            <div id="pocket-A-pocket-ligand-tab">
                                <label for="pocket-A-ligand" class="text">
                                    <span class="title">Ligand</span>
                                    <input type="text"
                                           id="pocket-A-ligand"
                                           name="pocketA.definition.ligand"
                                           size="3"
                                           maxlength="3"
                                           placeholder="LIG">
                                </label>
                            </div>
                            <div id="pocket-A-pocket-residues-tab">
                                <label for="pocket-A-residues-list" class="textarea">
                                    <span class="title">Residue IDs</span>
                                    <textarea id="pocket-A-residues-list" name="pocketA.residue.list"
                                              rows="3" cols="30"></textarea>
                                </label>
                            </div>
                            <div id="pocket-A-pocket-points-tab">
                                <label for="pocket-A-point-file" class="file">
                                    <span class="title">Point File</span>
                                    <input type="file"
                                           id="pocket-A-point-file"
                                           name="pocketA.definition.point_file">

                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div id="pocket-B" class="pocket-definition">
                        <h2>Pocket B</h2>
                        <fieldset class="structure">
                            <legend>Source Structure</legend>
                            <ul class="radio tabs">
                                <li><a href="#pocket-B-pdb-id-tab" title="Specify a PDB ID">
                                    <label for="pocket-B-pdb-method-id" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-B-pdb-method-id" 
                                           name="pocketB.structure_method" 
                                           value="pdbid"
                                           checked="checked">PDB</label>
                                </a></li>
                                <li><a href="#pocket-B-pdb-upload-tab" title="Upload a PDB">
                                    <label for="pocket-B-pdb-method-upload" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-B-pdb-method-upload" 
                                           name="pocketB.structure_method" 
                                           value="upload">Upload</label>
                                </a></li>
                                <li><a href="#pocket-B-pdb-url-tab" title="Use a PDB at a URL">
                                    <label for="pocket-B-pdb-method-url" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-B-pdb-method-url" 
                                           name="pocketB.structure_method" 
                                           value="url">URL</label>
                                </a></li>
                            </ul>
                            <div id="pocket-B-pdb-id-tab">
                                <label for="pocket-B-pdb-id" class="text">
                                    <span class="title">PDB ID</span>
                                    <input type="text"
                                           id="pocket-B-pdb-id"
                                           name="pocketB.structure.pdbid"
                                           size="5"
                                           maxlength="4"
                                           placeholder="PDBID">
                                </label>
                            </div>
                            <div id="pocket-B-pdb-upload-tab">
                                <label for="pocket-B-pdb-file" class="file">
                                    <span class="title">PDB</span>
                                    <input type="file"
                                           id="pocket-B-pdb-file"
                                           name="pocketB.structure.file">
                                </label>
                            </div>
                            <div id="pocket-B-pdb-url-tab">
                                <label for="pocket-B-pdb-url" class="text">
                                    <span class="title">URL</span>
                                    <input type="url"
                                           id="pocket-B-pdb-file"
                                           name="pocketB.structure.url"
                                           size="45">
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="pocket">
                            <legend>Pocket Specification</legend>
                            <ul class="radio tabs">
                                <li><a href="#pocket-B-pocket-ligand-tab" title="Specify a Ligand">
                                    <label for="pocket-B-pocket-method-ligand" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-B-pocket-method-ligand" 
                                           name="pocketB.pocket_method" 
                                           value="ligand"
                                           checked="checked">Ligand</label>
                                </a></li>
                                <li><a href="#pocket-B-pocket-residues-tab" title="Specify a List of Residues">
                                    <label for="pocket-B-pocket-method-residues" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-B-pocket-method-residues" 
                                           name="pocketB.pocket_method" 
                                           value="residues">Residues</label>
                                </a></li>
                                <li><a href="#pocket-B-pocket-points-tab" title="Upload a pointfile">
                                    <label for="pocket-B-pocket-method-pointfile" class="hidden-input">
                                    <input type="radio"
                                           id="pocket-B-pocket-method-pointfile" 
                                           name="pocketB.pocket_method" 
                                           value="url">Point File</label>
                                </a></li>
                            </ul>
                            <div id="pocket-B-pocket-ligand-tab">
                                <label for="pocket-B-ligand" class="text">
                                    <span class="title">Ligand</span>
                                    <input type="text"
                                           id="pocket-B-ligand"
                                           name="pocketB.definition.ligand"
                                           size="3"
                                           maxlength="3"
                                           placeholder="LIG">
                                </label>
                            </div>
                            <div id="pocket-B-pocket-residues-tab">
                                <label for="pocket-B-residues-list" class="textarea">
                                    <span class="title">Residue IDs</span>
                                    <textarea id="pocket-B-residues-list" name="pocketA.residue.list"
                                              rows="3" cols="30"></textarea>
                                </label>
                            </div>
                            <div id="pocket-B-pocket-points-tab">
                                <label for="pocket-B-point-file" class="file">
                                    <span class="title">Point File</span>
                                    <input type="file"
                                           id="pocket-B-point-file"
                                           name="pocketB.definition.point_file">
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div id="job_advanced">
                    <fieldset>
                        <legend>Advanced Settings</legend>
                        <div>
                            <h4>Pocket Selection</h4>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            $(function() {
                $(".structure, .pocket").tabs({
                    beforeActivate: function(event, ui) {
                        ui.newTab.find("label input[type=radio]").attr('checked', true);
                        console.log(ui.newTab);
                    }
                });
                $("#job_advanced fieldset").addClass("ui-widget")
                                           .addClass("ui-corner-all")
                                           .addClass("ui-widget-content")
                                           .children("div")
                                           .accordion({collapsible: true, active: false});
                $(".pocket-definition input:not([type=file])").each(function(){
                    $(this).addClass("ui-state-active");
                });
            });
        </script>
    </body>
</html>